
.notePage-container{
    background-color: var(--secondary-color);
    padding: 2rem;
    margin: 3rem;
    justify-content: center;
}
.notetitle{
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
}
