.sidebar-container {
  height: 50rem;
  margin: 3rem;
  padding-top: 2rem;
  width: 25rem;
  border-radius: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 15px 12px 12px 15px solid var(--primary-balck-color);
}
.sub-menus {
  margin: 1rem;
}
.menu-icon {
  margin-right: 0.5rem;
  color: var(--pureWhite-color);
}
.sub-menu-titel {
  color: var(--pureWhite-color);
  font-size: 2rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2rem;
  padding: 1rem;
}
.sub-menu-titel:hover {
  background-color: var(--primary-balck-color);
  color: var(--secondary-red-color);
  transition: 0.3s ease-in-out;
}

@media screen and (width: 425px) {
  .sidebar-container {
    height: 10rem;
    width: 55rem;
    display: flex;
    flex-direction: row;
    margin:1rem;

  }
}
@media screen and (width: 320px) {
  .sidebar-container {
    height: 10rem;
    width: 55rem;
    display: flex;
    flex-direction: row;
    margin:1rem;
  }
}

  