.newNote-container {
  width: 80rem;
  background-color: var(--primary-balck-color);
}
.input-container {
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
  color: var(--pureWhite-color);
}
.input-filed {
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
}
.titel-label,
.input-filed {
  font-size: 2rem;
  padding: 0.5rem;
}
.label-container {
  gap: 2rem;
  font-size: 2rem;
}
.editor {
  background-color: var(--pureWhite-color);
  color: var(--primary-balck-color);
}

.trash-container {
  width: 90rem;
}

@media screen and (max-width: 768px) {
  .newNote-container {
    width: 50rem;
  }
  .trash-container {
    width: 50rem;
  }
}
@media screen and (max-width: 425px) {
  .newNote-container {
    width: 50rem;
  }
  .label-container {
    display: flex;
    flex-wrap: wrap;
  }
  .trash-container {
    width: 50rem;
  }
}
